body {
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 30px;
    width: 700px; /* Ancho fijo del contenedor */
    margin: 50px auto; /* Márgenes superior e inferior */
}

.form-container {
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid blue;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.image-container {
    text-align: center;
    flex: 1; /* La imagen ocupará el espacio disponible */
}

.image-container img {
    max-width: 100%; /* La imagen se ajustará al contenedor */
    height: auto;
}

.info-text {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-top: 10px;
}

/* Media query para pantallas pequeñas (ej. móviles) */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 90%; /* Ancho del contenedor en pantallas pequeñas */
        margin: 20px auto; /* Márgenes en pantallas pequeñas */
    }

    .form-container {
        width: 100%;
    }

    .image-container img {
        max-width: 100%;
    }

    .info-text {
        font-size: 12px;
    }

    .fecha-ingreso {
        flex-direction: column; /* Apilar elementos verticalmente */
        align-items: flex-start; /* Alinear la etiqueta a la izquierda */
    }

    .fecha-ingreso label, .fecha-ingreso input {
        width: 100%; /* Ajustar el ancho de la etiqueta y el campo al 100% */
        margin-bottom: 10px; /* Añadir margen inferior al campo de fecha */
    }
}

.fecha-ingreso {
  display: flex;
  justify-content: space-between; /* Distribuir elementos */
  align-items: center; /* Alinear verticalmente */
}

.fecha-ingreso label, .fecha-ingreso input {
  width: 48%; /* Ajustar el ancho de la etiqueta y el campo */
}