<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        Modificar Provedor
        {%endblock%}
        </title>
    <link rel="stylesheet" href="/static/css/Formulario.css"> 
    <link rel="stylesheet" href="/static/css/global.css"> 
</head>
<body>
    {%block content%}
    <div class="container">
        <div class="form-container">
            <h2>Modificar  Proveedor</h2>
            <form action="/actualizarProv/{{prov.Id_Proovedor}}" method="post"> 
                <label for="nombre">Nombre y Apellidos:</label>
                <input class="controls" name="nombreP" id="" value="{{prov.NombreProveedor}}">

                <label for="telefono">Teléfono:</label>
                <input class="controls"  name="contactoP" id="" value="{{prov.TelefonoProveedor}}">

                <label for="marca">Marca:</label>
                <input class="controls"  name="marcaP" id="" value="{{prov.Marca}}" >

                <label for="producto">Tipo de Producto:</label>
                <input class="controls"  name="tipoP" id="" value="{{prov.TipoProducto}}" >
                <!--
                <select id="producto" name="producto" required>
                    <option value="">Seleccionar producto</option>
                    <option value="producto1">Producto 1</option>
                    <option value="producto2">Producto 2</option>
                </select>
                -->

                <button type="submit" value="Actualizar "> Modificar </button>
            </form>
        </div>
        <div class="image-container">

            <div class="info-text">
                <br>  <br>
                Asegurate de verificar bien la <br>
                información a modificar  , esto serviría <br>
                para mostrar bien la informacion . <br>
                <br> <br><br>
            </div>
            <img src="/static/images/Proveedor.png" alt="Repartidor">

          
        </div>
    </div>
    {%endblock%}
</body>
</html>




          