<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        
        {%block title%}
        Actualizar Vendedor
        {%endblock%}
    
    </title>
    <link rel="stylesheet" href="/static/css/Formulario.css"> 
</head>
<body>
    {%block content%}
    <div class="container">
        <div class="form-container">
            <h2>Modificar Vendedor</h2>
            <form action="/actualizarVendedors/{{vende.IdVende}}" method="post"> 
                
                <label for="nombre">Nombre y Apellidos:</label>
                <input class="controls" name="nombreV" id=""  value="{{vende.nombre}}"  >

                <label for="telefono">Teléfono:</label>
                <input class="controls"  name="telefonoV" id="" value="{{vende.telefono}}" >

                <div class="fecha-ingreso"> 
                    <label for="fecha">Fecha de Ingreso:</label>
                    <!--  <input type="date" id="fecha" name="fecha" required> -->
                    <input type="date" class="controls"  name="fechaV" id=""   value="{{vende.fecha_ingreso}}" >
                </div>

                <label for="direccion">Rol:</label>
                
                <input class="controls"  name="RolV" id="" value="{{vende.rol}}" >

                <label for="rol">Contraseña:</label>
                <input class="controls"  name="contrasenaV" id=""     value="{{vende.contrasena}}" >

                
        </div>
        <div class="image-container">

            <div class="info-text">
                <br>  <br>
                Asegurate de verificar bien la <br>
                información a modificar  , esto serviría <br>
                para mostrar bien la informacion . <br>
                <br> <br><br>
            </div>
            <img src="/static/images/Vendedor.png" alt="Repartidor">
            <br> <br>
            <button type="submit">Modificar </button>
        
          
        </div>
    </div>
    {%endblock%}
</body>
</html>







    
    
