<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Vendedor</title>
    <link rel="stylesheet" href="/static/css/Formulario.css"> 
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Registrar Vendedor</h2>
            <form action="#" method="post"> 
                <label for="nombre">Nombre y Apellidos:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" required>

                <div class="fecha-ingreso"> 
                    <label for="fecha">Fecha de Ingreso:</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>

                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required>

                <label for="rol">Rol:</label>
                <input type="text" id="rol" name="rol" required>

                
        </div>
        <div class="image-container">

            <div class="info-text">
                <br>  <br>
                Completa toda la información, <br>
                esto servirá para ingresar al sistema <br>
                y mostrarlo en el sistema.
                <br> <br><br>
            </div>
            <img src="/static/images/Vendedor.png" alt="Repartidor">
            <br> <br>
            <button type="submit">Registrar</button>
        
          
        </div>
    </div>
</body>
</html>