<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        Registrar Vendedor
        {%endblock%}
    </title>
    <link rel="stylesheet" href="/static/css/Formulario.css"> 
    <link rel="stylesheet" href="/static/css/boton.css"> 
</head>
<body>
    {%block content%}

    

    <div class="container">
        <div class="form-container">
            <h2>Registrar Vendedor</h2>
            <form action="/guardarVende" method="post"> 

                <label for="nombre">Nombre y Apellidos:</label>
                <input class="controls" name="nombreV" id="">

                <label for="telefono">Teléfono:</label>
                <input class="controls"  name="telefonoV" id="">

                <div class="fecha-ingreso"> 
                    <label for="fecha">Fecha de Ingreso:</label>
                    <input type="date" class="controls"  name="fechaV" id="">
                </div>


                <label for="rol">Rol:</label>
                <input class="controls"  name="rolV" id="" >

                <label for="contrasena">Contraseña:</label>
                <input class="controls"  name="contrasenaV" id="" >

                
        </div>
        <div class="image-container">

            <div class="info-text">
                <br>  <br>
                Completa toda la información, <br>
                esto servirá para ingresar al sistema <br>
                y mostrarlo en el sistema.
                <br> <br><br>
            </div>
            <img src="/static/images/Vendedor.png" alt="Repartidor">
            <br> <br>
            <button type="submit"  value="Guardar ">Registrar</button>
            
        
          
        </div>
    </div>
    {%endblock%}
</body>
</html>





